.menu {

    .bar-header{
      background-color: #000 !important;
      border: none;
      background-size: 0;

      .title{
        color:#fff !important;
      }
    }

    ion-content {
        padding: 0;margin: 0;
        background: #000;
        animation: background 26s ease infinite;


        .item{
            border: none;
            background-color: transparent;
            .item-content{
                background-color: transparent;
                color: white;
            }
        }

        .item.active{
            background-color: white !important;

            .item-content{
                color: black;
                font-weight: bold;
            }
        }
    }
}
.menu-open {
    .menu {
        ion-header-bar img{
            animation-name: flash;
        }
    }
}
.bar.bar-dark{
  background-color: #000 !important;
}

.tab-nav{
  background: #000 !important;
  color: #fff !important;
}
