.Settings{
  .info{
    margin-top: 28px;
    text-align: center;
    button{
      text-align: center;
      background-color: #f1cb2f;
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      padding: 8px 44px 8px 44px;
      margin-top: 12px;
    }
  }
}
