<ion-view class="Add-restaurant" view-title="Add Restaurant" >
    <ion-content>

      <div class="content">
        <img src="img/img_add_a_restaurant.png" alt="">

        <div class="frm-register">
          <form action="">
            <label for="">Your Name</label><br>
            <input type="text">

            <label for="">Your Email</label><br>
            <input type="text">

            <label for="">restaurant name</label><br>
            <input type="text">

            <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                  Type of Restaurant
                </div>
                <select>
                  <option>Blue</option>
                  <option selected>Italian</option>
                  <option>Red</option>
                </select>
              </label>

              <label class="item item-input item-select">
                <div class="input-label">
                  Country
                </div>
                <select>
                  <option>Blue</option>
                  <option selected>United States</option>
                  <option>Red</option>
                </select>
              </label>

              <label class="item item-input item-select">
                <div class="input-label">
                  State
                </div>
                <select>
                  <option>Blue</option>
                  <option selected>Florida</option>
                  <option>Red</option>
                </select>
              </label>


            </div>

            <label for="">City</label><br>
            <input type="text">

            <label for="">Zip</label><br>
            <input type="text">

            <label for="">Contact Info</label>
            <textarea name="name" rows="5" cols="40" value="Please let us know who we should contact and their info (phone and email) Thanks"></textarea>

            <label for="">Phone</label><br>
            <input type="text">

            <label for="">restaurant email</label><br>
            <input type="text">

            <p>Offer is valid for the first submit and after confirm information </p>

            <button type="button" name="button">Send</button>
          </form>
        </div>


		  </div>

    </ion-content>

</ion-view>
