<ion-view class="Change-password" view-title="Change Password"  hide-tabs>
		<ion-content>

      <form class="frm">
        <input type="password" placeholder="Current password">

        <input type="password" placeholder="New password">

        <span>Six characters minimum</span>

        <input type="password" placeholder="Confirm password">

        <div class="acciones">
          <button type="button" name="button">Save</button>
        </div>
      </form>

		</ion-content>

</ion-view>
