<ion-view class="Comment" view-title="Comment" >
    <ion-content>
      <div class="header">
        <h3>Write a Review</h3>
      </div>

      <div class="ec-stars-wrapper start">
      	<a href="#" data-value="1" title="Votar con 1 estrellas"><i class="ion-ios-star"></i></a>
      	<a href="#" data-value="2" title="Votar con 2 estrellas"><i class="ion-ios-star"></i></a>
      	<a href="#" data-value="3" title="Votar con 3 estrellas"><i class="ion-ios-star"></i></a>
      	<a href="#" data-value="4" title="Votar con 4 estrellas"><i class="ion-ios-star-outline"></i></a>
      	<a href="#" data-value="5" title="Votar con 5 estrellas"><i class="ion-ios-star-outline"></i></a>

      	<a class="vote"><span>Very Good</span></a>
      </div>

      <form action="">
        <label for="">Your Review</label>
        <textarea name="name" rows="8" cols="40"></textarea>

        <button>Save</button>
      </form>

    </ion-content>

</ion-view>
