<ion-view class="Contacto" view-title="Contacto Us"  hide-tabs>
		<ion-content>

      <form class="frm">
        <input type="text" placeholder="Name">

        <input type="phone" placeholder="Phone">

        <input type="email" placeholder="Email">

        <label for="">Message</label><br>
        <textarea name="name" rows="8" cols="40"></textarea>

        <div class="acciones">
          <button type="button" name="button">Send</button>
        </div>
      </form>

		</ion-content>

</ion-view>
