<ion-view view-title="" class="Coupons">
  <ion-content class="animated slideInRight">

      <div class="button-bar">
        <a class="button">Restaurant details</a>
        <a class="button">Specials $$$</a>
        <a class="button borde">Coupons</a>
      </div>

      <div class="content">
        <h1>Panera Bread</h1>
        <span>Weekend Special</span>
        <p>$1 off a regular sub or regular salad or $2 off a large sub. Present coupon in stores.</p>
        <p class="date">Expiración Date: 10/03/2013</p>
        <p class="posted">(Posted on 09/29/2013)</p>
        <div class="accion">
          <div><img src="img/icon_delivery.png" alt=""></div>
          <div><button>Save</button></div>
        </div>
      </div>

      <div class="content">
        <h1>Panera Bread</h1>
        <span>Weekend Special</span>
        <p>$1 off a regular sub or regular salad or $2 off a large sub. Present coupon in stores.</p>
        <p class="date">Expiración Date: 10/03/2013</p>
        <p class="posted">(Posted on 09/29/2013)</p>
        <div class="accion">
          <div><img src="img/icon_delivery.png" alt=""></div>
          <div><button>Save</button></div>
        </div>
      </div>
      

  </ion-content>
</ion-view>
