<ion-view class="Filter" view-title="No Results"  hide-tabs>


      <div class="content">
        <ul class="list">
          <li class="item item-toggle">
             Use my location
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>

          <li class="item item-toggle">
             Enter City or Zip Code:
             <label class="toggle toggle-balanced">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
             <input type="text" placeholder="Code">
          </li>
        </ul>

        <div class="list">

          <label class="item item-input item-select">
            <div class="input-label">
              Type of Restaurant:
            </div>
            <select>
              <option>Deli</option>
              <option selected>Desserts</option>
              <option>Diner</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Search Area:
            </div>
            <select>
              <option>Deli</option>
              <option selected>2 Miles</option>
              <option>Diner</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Cuisine:
            </div>
            <select>
              <option>Deli</option>
              <option selected>All Cuisine</option>
              <option>Diner</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Price:
            </div>
            <select>
              <option>Deli</option>
              <option selected>All Price</option>
              <option>Diner</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Delivery:
            </div>
            <select>
              <option>Yes</option>
              <option selected>All</option>
              <option>No</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Has Coupon:
            </div>
            <select>
              <option>Yes</option>
              <option selected>All</option>
              <option>No</option>
            </select>
          </label>

        </div>

        <button type="button" name="button">Filter</button>

		  </div>

</ion-view>
