<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-dark">
			<ion-nav-back-button>
			</ion-nav-back-button>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right">
				</button>
			</ion-nav-buttons>
			<ion-nav-buttons side="left">
				<button menu-close nav-direction="enter" class="button button-icon button-clear" ui-sref="app.map">Map
				</button>
				<!-- <ion-item  menu-close nav-direction="enter" href="/#/app/map"> -->
				</ion-item>
			</ion-nav-buttons>
		</ion-nav-bar>

		<!-- TABS -->
		<ion-tabs class="menu-tab">

			<ion-tab title="Search" icon-off="ion-star" icon-on="ion-star" href="#/app/add-restaurant">
				<ion-nav-view name="tab-search"></ion-nav-view>
			</ion-tab>

			<ion-tab title="Browse" icon-off="ion-levels" icon-on="ion-levels" href="#/app/results">
				<ion-nav-view name="tab-browse"></ion-nav-view>
			</ion-tab>

			<ion-tab title="Playlist" icon-off="ion-cash" icon-on="ion-cash" href="#/app/results">
				<ion-nav-view name="tab-playlists"></ion-nav-view>
			</ion-tab>

		</ion-tabs>

	<ion-nav-view name="viewContent" animation="slide-left-right"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="right" class="menu">
		<header class="bar bar-header bar-stable">
      <!-- <h1 class="title">Menu</h1> -->
    </header>
		<ion-content class="has-header">
			<ion-list>
				<ion-item  menu-close nav-direction="enter" href="/#/app/gallery" ui-sref-active="active">
          Home
				</ion-item>

				<ion-item  menu-close nav-direction="enter" href="/#/app/map" ui-sref-active="active">
          Profile
				</ion-item>

				<ion-item  menu-close nav-direction="enter" href="#/carrito" ui-sref-active="active">
          Add a Restaurant
				</ion-item>

				<ion-item  menu-close nav-direction="enter" href="#/carrito" ui-sref-active="active">
          Contact Us
				</ion-item>

				<ion-item  menu-close nav-direction="enter" href="#/carrito" ui-sref-active="active">
          App Settings
				</ion-item>

				<ion-item  menu-close nav-direction="enter" href="#/carrito" ui-sref-active="active">
					Logout
				</ion-item>

			</ion-list>
		</ion-content>

	</ion-side-menu>
</ion-side-menus>
