<ion-view class="Photos" view-title="Photos" >
    <ion-content>
      <div class="row">
        <div class="col">
          <img src="img/bckg_welcome.png" alt="">
          08/15/2012
        </div>
        <div class="col">
          <img src="img/bckg_welcome.png" alt="">
          08/15/2012
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="img/bckg_welcome.png" alt="">
          08/15/2012
        </div>
        <div class="col">
          <img src="img/bckg_welcome.png" alt="">
          08/15/2012
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img src="img/bckg_welcome.png" alt="">
          08/15/2012
        </div>
        <div class="col">
          <img src="img/bckg_welcome.png" alt="">
          08/15/2012
        </div>
      </div>
    </ion-content>

</ion-view>
