<ion-view view-title="" class="Redeem">
  <ion-content class="animated slideInRight">


    <div class="row content">
      <div class="logo">
        <div><img src="img/bckg_welcome.png" alt=""></div>
      </div>
      <div>
        <h2>Panera Bread</h2>
        <span>Bakery Store</span>
        <p>$$$</p>
        <p>Doral #1124, 9717 NW</p>
        <p>41st Street</p>
        <p>Doral, 33178 FL</p>
      </div>
    </div>

    <div class="details">
      <h2>Coupon Details</h2>

      <p class="title">Panera Bread</p>
      <p class="des">Weekend Special</p>
      <p>$1 off a regular sub or regular salad or $2 off a large sub. Present coupon in stores.</p>
      <p class="date">Expiración Date: 10/03/2013</p>
      <p class="posted">(Posted on 09/29/2013)</p>
      <div class="accion">
        <div><img src="img/icon_delivery.png" alt=""></div>
        <div><button>Show merchant before you click out of this screen as coupon will be removed.</button></div>
      </div>
    </div>

  </ion-content>
</ion-view>
