<ion-view class="Restaurant-details" view-title="No Results"  hide-tabs>

  <div class="header">
    <h1>Restaurant Images</h1>
  </div>

  <div class="restaurant">
    <div><img src="/img/img_add_a_restaurant.png" alt=""></div>
    <div class="info">
      <h2>Sandwich bar, Argentinian</h2>
      <p>Doral #6D1124</p>
      <p>9717 NW 41st Street,</p>
      <p>Doral FL</p>
    </div>
  </div>

  <div class="data">
    <div class="info">
      <div>
        <img src="img/icon_price.png" alt="">
      </div>
      <div>
        <h4>Prices</h4>
        <h3>$6 to $10</h3>
      </div>
    </div>

    <div class="info">
      <div>
        <img src="img/icon_delivery.png" alt="">
      </div>
      <div>
        <h4>Prices</h4>
        <h3>$6 to $10</h3>
      </div>
    </div>

    <div class="info">
      <div>
        <img src="img/icon_distance.png" alt="">
      </div>
      <div>
        <h4>Prices</h4>
        <h3>$6 to $10</h3>
      </div>
    </div>
  </div>


  <div class="tab-menu">
    <div class="tabs-striped tabs-top tabs-icon-top">
      <div class="tabs">
        <a class="tab-item active" href="#">
          <img src="img/icon_grid2.png" alt="">
        </a>
        <a class="tab-item" href="#">
          <img src="img/icon_list1.png" alt="">
        </a>
        <a class="tab-item" href="#">
          <img src="img/icon_map1.png" alt="">
        </a>
      </div>
    </div>
  </div>

</ion-view>
