<ion-view class="Reviews" view-title="Reviews" >
    <ion-content>
      <div class="header">
        <h3>Reviews</h3>
        <button>+ Review</button>
      </div>

      <div class="comments">
        <div><img src="img/icon_reviews1.png" alt=""></div>
        <div class="info">
          <h4>"Love the Soups and Bread options!"</h4>
          <p class="date">07/07/2012</p>
          <p>Nice place to have a lite lunch! The variety of breads is really good, sandwichs and wraps, also the soups are very tasty!</p>
        </div>
      </div>

      <div class="comments">
        <div><img src="img/icon_reviews1.png" alt=""></div>
        <div class="info">
          <h4>"Love the Soups and Bread options!"</h4>
          <p class="date">07/07/2012</p>
          <p>Nice place to have a lite lunch! The variety of breads is really good, sandwichs and wraps, also the soups are very tasty!</p>
        </div>
      </div>

    </ion-content>

</ion-view>
