<ion-view class="Settings" view-title="Contacto Us"  hide-tabs>
		<ion-content>

      <ul class="list">
        <li class="item item-toggle">
           New Specials Near me
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-toggle">
           New Specials on Favorites
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-toggle">
           New Coupons Near me
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-toggle">
           New Specials on Favorites
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-toggle">
           New Restaurants Near me
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

      </ul>

      <div class="info">
        <p>The proximity is based on what you have in your Filter Settings.</p>
        <button>Save</button>
      </div>

		</ion-content>

</ion-view>
