<ion-view class="Signin" view-title="Sign In"  hide-tabs>
		<ion-content>

      <div class="logo"><img src="img/img_sign_in.png" alt=""></div><br>
      <div class="accion">
        <button class="facebook" type="button" name="button"><img src="img/icon_facebook.png" alt=""><span>Sign in with Facebook</span></button><br>
        <button class="google" type="button" name="button"><img src="img/img_google.png" alt=""> <span>Sign in with Google</span></button><br>
      </div>

      <div class="text-divider">
        <h2>Or</h2>
      </div>

      <div class="frm-login">
        <form>
          <input type="text" placeholder="E-mail">
          <br>
          <input type="password" placeholder="Password">

          <button type="button" name="button">Sign In</button>
        </form>
      </div>

		</ion-content>

</ion-view>
