<ion-view class="User-profile" view-title="User Profile"  hide-tabs>
		<ion-content>

      <div class="user">
        <img src="img/bckg_welcome.png" alt="">
        <button>Change Photo</button>
      </div>

      <form class="frm">
        <label for="">Name</label><br>
        <input type="text">

        <label for="">Phone</label><br>
        <input type="phone">

        <label for="">Email</label><br>
        <input type="email">

        <label for="">Password</label><br>
        <input type="password">

        <div class="acciones">
          <button type="button" name="button">Change Password</button><br>
          <button type="button" name="button">Save</button>
        </div>
      </form>

		</ion-content>

</ion-view>
